<ion-view>
	<ion-nav-bar ng-controller="navegacaoCtrl" class="bar-positive my-color" padding="true" >
		<h1 class="title" style="text-align:center;">Vistoria finalizada</h1>
	</ion-nav-bar>
    <ion-content padding="true" class="fundo has-header">
		<div ng-controller="seguradoCtrl">

			<h3 class="tks">Obrigado!</h3>
			
			<p class="descricao" ng-value="dadosUsuario.nomeUsuario" ng-model="nomeUsuario">{{dadosUsuario.nomeUsuario}}</br>
			Sua vistoria foi concluída com sucesso, o número da sua vistoria é:</p>

			<p class="protocolo">{{dadosUsuario.idVistoria}}</p>

			<p	class="descricao">O prazo estimado para a aprovação é de sete dias úteis, você será notificado ao término deste processo.</p>
		</div>
    </ion-content>
</ion-view>
